#contenido div.lista-peli {
    display:inline;
    float:left;
 }

 #contenido img {
    display:inline;
    float:left;
    width:220px;
    background-color:#f5f7f9;
    padding:5px;
    margin:10px;
    text-align: center;
    border-right: #a5a7aa solid 1px;
    border-bottom: #a5a7aa solid 1px;
 }

 #tituloIndexPeli h1{
     font-size: 100px;
 }