/*CSS PLANTILLA GLOBAL*/
* {
	margin:0px;
	padding:0px;
}
div#contenedor{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto;
	grid-template-areas:
	'header'
	'main'
	'footer';
}
html{
	font-family:Arial, Helvetica, sans-serif;
}
main {
	/*padding-top: 30px;
	padding-left: 50px;
    padding-right: 50px;*/
	float: left;
	background-color: white;
    min-height: 700px;
	padding-bottom: 2%;
	background-color: #bbcdeb;
	
}

footer {
	padding:20px 60px;
	background-color: #000000;
	color: white;
	text-align: center;
}

header{
	grid-area: header;
	background-color:#000;
}

div.ir-arriba {
	display:none;
	padding:10px;
	background:#9f2863;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:80px;
	right:20px;	
	border-radius: 60px;
}

div.botonAtras {
	display:block;
	padding:10px;
	background:#9f2863;
	font-size:25px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;	
	border-radius: 60px;
}

/*MENU PRINCIPAL*/

nav#menuP{
	display: block;
}
nav#menuP ul {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:30px 30px;
	display:block;
	width:100%;
	height: 100%;
}

.nav li a:hover {
	background-color:#9f2863;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	align-items: center;
	top:0px;
	width:100%;
	height: 100%;
}
div.saludo {
	text-align: right;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:30px 30px;
	padding-right: 60px;
	display:block;
	
}
div.saludo a{
	color:#fff;
}

div.avisoLog{
	margin: 6%;
}
div.avisoLog h1, h3{
	padding-bottom: 10px;
}
div.avisoLog .butonGeneral{
	margin-top: 20px;
	margin-right: 10px;

}
/*FIN MENU PRINCIPAL*/

/*CSS FORMULARIO*/
div.login{
	margin: 5%;
}

fieldset {
	border: 2px solid black;
	padding: 10px 20px;
	margin-right: 600px;
	margin-top: 20px;
}

fieldset div {
	justify-content: center;
	margin: 5px auto;
	padding-bottom: 5px;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	margin-right: 0.5em;
	display: block;
	padding: 5px;
}

input {
	display: block;
}

.form-field-error {
	display: block;
}
select.peli_titulo{
	text-rendering: auto;
}

.mensajes {
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje .cabecera {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje .contenido {
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}

form#FormEditorEditPeli fieldset div img.imgEdit {
	width: 150px;
	height: 200px;
}

form.inline {
	display: inline;
}

form button.enlace, form button.enlace:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
	border: none;
}

form input.sinopsis{
	column-span: 100 ;
	row-gap: 8;
}
form button.enlace:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;

}
form button{
	background-color: white; 
	color: black; 
	border: 2px solid #9f2863;
	padding: 9px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.4s;
}
form button:hover{
	background-color: #9f2863;
  	color: white;
}
button, a.boton {
	border: 1px solid black;
	font-size: 1.1em;
	font-weight: 400;
	border-radius: 4px;
}

a.boton {
	color: inherit;
	text-decoration: none;
	background-color: rgb(239, 239, 239);
	padding: 3px 8px;
	margin: 1px 5px;
}

.inline {
	display: inline;
}

a.deshabilitado {
	color: rgba(16, 16, 16, 0.3);
}
/*FIN CSS FORMULARIO*/


/*PARA BLOG----------------------------------------*/

/* w3 schools para barra de navegación */
.menublog {
    overflow: hidden;
    background-color: #e9e9e9;
}
  
  
.menublog a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.menublog a:hover {
    background-color: #ddd;
    color: black;
}
  
  /* Style the "active" element to highlight the current page */
.menublog a.active {
    background-color: #9f2863;
    color: white;
}

.menublog .barraBusca {
    float: right;
}
  
.menublog .barraBusca input[type=text] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.menublog .barraBusca button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.menublog .barraBusca button:hover {
    background: #ccc;
}
  
@media screen and (max-width: 600px) {
    .menublog .search-container {
        float: none;
    }
    .menublog a, .menublog input[type=text], .menublog .barraBusca button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .menublog input[type=text] {
        border: 1px solid #ccc;  
    }
}


/* fin de wr3schools*/
/* vista de retos*/

.panelReto{
    /*background: rgb(255, 255, 255);*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
	padding: 0px 5px 10px 40px;
	margin-top: 3em;
	margin-bottom: 2em;
}

.boxlay {
    background-color: rgb(255, 255, 255);;
    width: 200px;
	height: 200px;
    border: 2px solid #9f2863;
    padding: 50px;
    margin: 20px;
    text-align: center;
    transition: 500ms linear;
}

.boxlay h3 {
	padding: 5px 50px 30px;
	text-align: center;
}

.boxlay:hover {
    transform: scale(1.1);
}

article.RetoAll div.buttonPanel{
	margin-left: 60px;
}

article.RetoAll div.buttonPanel p{
	color: #9f2863;
	text-decoration:none;
	font-weight: bold;
	display: inline-block;
	margin-left: 1em;
}

article.RetoAll div.buttonPanel div.butonGeneral{
	padding: 5px 10px 5px;
	margin-left: 1em;
}

article.RetoAll div.buttonPanel div.butonGeneral a{
	color: #9f2863;
	text-decoration:none;
	font-weight: bold;
}

.completadoReto{
	background: rgba(255, 255, 255, 0);
	padding: 30px 10px 30px;
}
.completadoReto P{ color:rgb(9, 140, 46); font-weight: bold;}

.aceptadoReto{
	background: rgba(255, 255, 255, 0);
	padding: 30px 10px 30px;
}
.aceptadoReto P{ color:rgb(237, 28, 0); font-weight: bold;}

.unirseReto{
	background: rgba(255, 255, 255, 0);
	padding: 30px 10px 30px;
	
}
.unirseReto P{ color:#9f2863; font-weight: bold;}

.cardRetoPelis h1{
	padding: 1% 0;
	font-size: xx-large;
}

.cardRetoPelis h5 {
	line-height: 200%;
	font-size: medium;
}

.cardRetoPelis p{
	line-height: 300%;
}

.cardRetoPelis{
	flex-grow: 2;
	background-color: rgb(241, 237, 239);
    padding: 20px;
    margin-top: 20px;
	width: 75%;
}

.cardPelis fieldset{
	min-width: 250px;
	text-align: left;
	padding: 1em;
}

.cardPelis{
	flex-grow: 1;
	background-color: rgb(241, 237, 239);
	padding: 20px;
	margin-top: 20px;
	width: 25%;
}

.columnaPelis{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkbox{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.imgPelisRetoBlock{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.imgPelisReto{
	width: 180px;
	height: 235px;
	padding: 4px 1%;
}

.imgPelis{
	max-width: 100%;
	max-height: 100%;
}

/*--------------*/
/* ranking de retos--------*/
.wrapper {
	line-height: 1.5em;
	margin: 0 auto;
	padding: 2em 0 3em;
	width: 100%;
	max-width: 2000px;
	overflow: hidden;
}

.wrapper table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}

.wrapper th {
    background-color: #4d5053;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.wrapper td, th {
    padding: 1em 1.5em;
    text-align: left;
}

.wrapper tbody th {
	background-color: #2ea879;
}
.wrapper tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
.wrapper tbody tr:hover {
    background-color: rgba(75, 67, 74, 0.3);
}

.wrapper td.nombre {
	text-transform: capitalize;
}

/*-----------------------------*/
/* Header/Blog Title */
.header2 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #9581954b;
}
  
.header2 h2{
    color: #9f2863;
}

  /* izquieda */
.columnaIzq {
    float: left;
    width: 70%;

}
.columna{
    /* background: rgb(255, 255, 255); */
	margin: 1%;
	margin-left: 3%;
}

/* derecha*/
.columnaDer {
    float: left;
    width: 25%;
    padding-left: 20px;
}
  
  /* fotos */
.img2 {
    background-color: #aaa;
    width: 90px;
    padding: 4px;
}
  
  /* articulos como cartas */
.card {
    background-color: rgb(241, 237, 239);
    padding: 20px;
    margin-top: 20px;

}

/* Clear floats after the columns */
.columna:after {
    content: "";
    display: table;
    clear: both;
}
  
.imagNoticias{
    height:200px;
    width: 700px;
}

.imgBlogBlock{
	height:300px;
    width: 1000px;
}

.imagNoticias2{
    max-width: 100%;
	max-height: 100%
	
}

.imagAboutus{
    height:100px;
}
.footer2 {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
}

.comentarioPanel{
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boxlayComentario {
    background-color: rgb(255, 255, 255);;
    width: 300px;
    border: 2px solid #9f2863;
    padding: 50px;
    margin: 20px;
    text-align: center;
    transition: 500ms linear;
}

.boxlayComentario:hover {
    transform: scale(1.1);
}

.crearValoracionPanel{
	padding: 10px 70px 20px;
}

article.Noticia div.card h2{
	padding: 10px 50px 10px 0;
}

article.Noticia div.card h5{
	padding: 2% 0;
}

article.Noticia div.card p{
	padding: 1% 0;
}


article.Noticia div.buttonPanel{
	margin-top: 2em;
	display:flex;
    justify-content: center;
    align-items: center;
}

article.Noticia div.buttonPanel p{
	color: #9f2863;
	text-decoration:none;
	font-weight: bold;
	display: inline-block;
	margin-left: 1em;
}

article.Noticia div.buttonPanel div.butonGeneral{
	padding: 5px 10px 5px;
	margin-left: 1em;
}

article.Noticia div.buttonPanel div.butonGeneral a{
	color: #9f2863;
	text-decoration:none;
	font-weight: bold;
}


.imagenNivel1{
	max-height:43px;
    max-width: 43px;
}
.imagenNivel2{
	max-height:38px;
    max-width: 38px;
}

  /* Para cuando se reduzca el tamaño de la ventana */
@media screen and (max-width: 800px) {
    .columnaIzq, .columnaDer {
        width: 100%;
        padding: 0;
    }
}

/*------------------------------------------------------------*/

/* CSS PARA LA VISTA DE LAS PELÍCULAS INDEX*/


div.contenidoPelis {
	display: block;
	

}

div.encabezado.encabezado-bg{
	background-image: url(../img/comun/encabezado.png);
	display: block;
}
.encabezado-bg {
    padding: 52px 0 52px;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

div.tituloIndex h1{
	align-items: center;
	font-size: 50px;
	padding-bottom: 20px;
	color: #ffff;
}
div.tituloIndex{
	text-align: center;
}
div.tituloIndex h2{
	align-items: center;
	font-size: 30px;
	color: #ffff;
}
div.tituloIndex span{
	color: #9f2863;     
}

div.wrap {
	margin: 3%;
	
}
div.wrap h1{
	text-align: center;
	padding-bottom: 3%;
	font-size: 30px;
}

div.category_list {
	display: flex;
	padding-bottom: 3%;
	text-align: center;
	justify-content: center;	
}
div.category_list a:hover{
	border-color: #9f2863;
	background-color: #fff;
  	color: rgb(3, 3, 3);
}

a.category_item {
	border-radius: 50px;
    background: #20212b;
    font-size: 12px;
    font-weight: 600;
    color: #e3dfdf;
    border: 3px solid #2d303d;
    padding: 11px 27px;
    margin-bottom: 0;
    transition: none !important;
	margin-right: 5px;	
	text-decoration: none;
}

section.products-list {
	display: block;
	/* margin-left: auto;
    margin-right: auto; */
	align-content: center;
	text-align: center;
	
    
}
/* div.product-item{
	grid-area: peli;
} */
div.product-item img{
	grid-area: peli;
	width: 230px;
	height: 300px;
	float: left;
	padding: 1%;
}





/* FIN CSS PELICULAS*/

 /* CSS PARA LA VISTA 1PELÍCULA */
div#peli-card.peli-card{
	margin-top: 50px;
	background-color: rgb(242, 211, 250);;
	display: grid;
    grid-template-areas: "derecha datos";
	grid-column-gap: 10px;
}
div#peli-foto.peli-foto-card {
	grid-area: foto;
	padding-bottom: 20px;

}

div#peli-foto.peli-foto-card img {
	width: 230px;
	height: auto;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;	
	display: block;
}

div#peli-datos.peli-datos-card {
	grid-area: datos;
	padding-right: 20px;
	padding-top: 30px;	
	padding-bottom: 20px;
}
div.fila-dato{
	padding-bottom: 10px;
	margin-right: 120px;
}
div#peli-editar.peli-editar-card{
	display: block;
	margin-left: 35px;
	margin-top: 20px;
	padding-bottom: 20px;
	grid-area: editar;
}
div.derecha{
	display: grid;
	grid-area: derecha;
	grid-row: auto;
	grid-template-areas: 
	"foto" 
	"editar";	
}
 /*FIN PARA LA VISTA DE 1 PELÍCULA*/

 /*CSS VISTA CAPITULOS*/
div.listaCapitulos li{
	 padding-top: 10px;
	 padding-bottom: 10px;
}
div.listaCapitulos ol{
	 margin-left: 20px;
}

div#peli-foto.peli-foto-card video {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 59px;	
	display: block;
	width: 400px;
}
/*FIN CSS VISTA CAPITULOS*/

/*CSS VISTA PLAYLIST BANDA SONORA*/
div.canciones{
	background-color: rgb(242, 211, 250);
	display: grid;
	grid-template-areas: 
	"arriba"
	"playlist";
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	margin-top: 50px;

}
div.arriba{
	grid-area: arriba;
	display: grid;
	grid-template-areas: "botonCrearBSO audio";
}
div.botonCreaBSO{
	grid-area: botonCrearBSO;
	display: inline-block;
	padding-left: 20px;
	padding-top: 30px;
}
div.audio{
	grid-area: audio;
	display: inline-block;
	padding-top: 20px;
}

div.ListaCanciones{
	grid-area: playlist;
	margin-left: 28px;
	padding-bottom: 20px;
	margin-right: 60%;
}
div.ListaCanciones ul{
	list-style: none;

}
div.ListaCanciones ul li{
	/* margin-bottom: 1%;
	padding: 3%;
	background-color: white;
    color: black;
    border: 1px solid #9f2863;
    text-decoration: none;
    font-size: 14px;
    transition-duration: 0.4s;
    border-radius: 4px; */
	margin-bottom: 1%;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10%;
	align-items: center;
	
}
div.ListaCanciones li a:hover{
	background-color: #9f2863;
	color: white;
} 
div.ListaCanciones li a {
	color: black;
    text-decoration: none;
	margin-bottom: 1%;
	border: 1px solid #9f2863;
	border-radius: 4px;
	padding: 4%;
	background-color: white;
	font-size: 14px;
	transition-duration: 0.4s;
}
div.ListaCanciones li.current-song a{
	background-color: #9f2863;
	color: white;	  
}
/* div.ListaCanciones li.current-song a{
	color: white;	  
} */
/*FIN CSS VISTA PLAYLIST BANDA SONORA*/

/*CSS BOTON EDITOR*/
button.papelera{
	display: inline-block;
	border-radius: 20px;
	padding: 9px 10px;
}
div.generalBoton{
	display: inline-block;
	padding-right: 10px;
}
div.butonGeneral{
	display: inline-block;
	background-color: white; 
	color: black; 
	border: 2px solid #9f2863;
	padding: 9px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.4s;
	border-radius: 4px;
}
div.butonGeneral:hover{
	background-color: #9f2863;
  	color: white;
}

div.butonGeneral a{
	color: black; 
	text-decoration:none;
}
 /*FIN CSS BOTON EDITOR*/


 /*CSS PANEL ADMIN: APARIENCIA*/


.temaAzul{
	background-color: #008CBA; /* Azul */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.temaRosa{
	background-color: #9f2863; /* Azul */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
/*FIN CSS PANEL ADMIN: APARIENCIA*/

/*CSS PAGINA DE INICIO (index.php)---------------------*/
article.index{
	/*background: #141414;*/
	height: 100%;
}
div.vistaPrincipal{
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/comun/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	/* margin-bottom: 3.12em; */
	display: flex;
	align-items: end;
}
div.contenedorPrincipal{
	margin: 0 auto;
	margin-bottom: 6.25em;
	width: 90%;
}
div.tituloPrincipal h3{
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}
div.descripcionPrincipal p{
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
div.botonInfo .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

div.botonInfo .boton:hover {
	background: #fff;
	color: #000;
}

div.botonInfo .boton i {
	margin-right: 1.25em;
}

/*CSS CAROUSEL DE CONTENDIO*/
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
/* .peliculas-recomendadas {
	margin: 5%;
} */
.peliculas-recomendadas {
	padding: 5%;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/comun/bg.jpg);
}


.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgb(255 247 247 / 30%);
	font-size: 45px;
	/*height: 30%;*/
	/*top: calc(50% - 25%);*/
	line-height: 0px;
	/*width: 50px;*/
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
	border-radius: 50px;
	padding: 10px;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	/* box-shadow: 5px 5px 10px rgba(0,0,0, .3); */
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 80%;
	vertical-align: top;
}
div.pelicula h5{
	color: white;
    font-size: 15px;
    text-align: center;
    margin-right: 10%;
    margin-top: 5%;
}
div.retos{
	margin: 2%;
	text-align: center;
	font-size: 30px;	
}
div.retos h1 span {
	color: #9f2863;


}
div.retos h1{
	padding-top: 2%;
}
div.retos h1 a{
	text-decoration: none;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

/*FIN CSS PAGINA DE INICIO (index.php)-----------------------*/


/*CSS CONTACTO-MIEMBROS*/


.panelMiembros{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
	
.miembros-box-item {
	width: 350px;
	height: 560px;
    box-shadow: 8px 3px 13px 8px rgba(0, 0, 0, 0.14);
    background: #fcfcfc;
    border: 2px solid #faf9fb;
    padding: 45px 40px 60px;
    transition: .3s linear;
	margin: 2em 1em 2em;
}
.miembros-box-item:hover {
    border-radius: 4px;
    border-color: #9f2863;
}
.miembros-top {
    text-align: center;
    margin-bottom: 45px;
}
.miembros-top h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
}
.miembros-top img.a {
	max-width: 150px;
	max-height: 150px;
	margin: 1em;
}
.miembros-list ul{
	list-style: none;
}
.miembros-list ul li {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #414146;
    font-size: 12px;
    color: rgb(7, 7, 7);
	font-weight: bold;
}

.miembros-list ul li i {
    margin-right: 10px;
}
.miembros-list ul li span {
    float: right;
    padding-right: 5px;
	font-weight: normal;
}
.miembros-list ul li img {
    float: right;
    padding-right: 5px;
	max-width: 50px;
	max-height: 50px;
	padding-bottom: 50px;
	position: relative;
	bottom: 1em;
}

.miembros-list ul li p {
    padding: 10px 20px 10px;
	text-align: justify;
	font-weight: normal;
}
.miembros-list ul li.rol {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #414146;
    font-size: 12px;
    color: rgb(7, 7, 7);
	font-weight: bold;
}
.miembros-list ul li.correo span {
    color: #9f2863;
	font-weight: normal;
}
.miembros-list ul li:last-child {
    margin-bottom: 0;
}

.cardMiembros {
    /* background-color: rgb(255, 255, 255); */
    /* padding: 20px; */
    margin-top: 3%;
	margin-left: 3%;
	width: 50%;
	float: left;
}

.cardMiembros h1{
	font-size: 30px;
}

.cardContacto {
    background-color: rgba(255, 255, 255, 0.689);
    padding: 20px;
    margin-top: 6%;
	/* margin-left: 5px; */
	margin-right: 3%;
	width: 40%;
	height: 50%;
	float: right;
}

.cardContacto fieldset {
    border: 2px solid black;
	padding: 10px 20px;
	margin-right: 20px;
	margin-top: 20px;
	max-width: 100%;
}
/* .cardContacto fieldset div{
	display: inline-flex;
} */
.cardContacto fieldset div input{
	margin: 1%;
	display: inline-block;
}

  /* Para cuando se reduzca el tamaño de la ventana */
@media screen and (max-width: 800px) {
    .cardMiembros, .cardContacto {
        width: 100%;
        padding: 0;
    }
}
/*FIN CSS CONTACTO-MIEMBROS*/

/*------------------CSS VISTAS DE EDICIÓN------------------*/
div.edicion-panel{
	margin: 5%;
}

/*--------FIN CSS VISTA EDITOR*/