body {
	background-color: #fff;
	height:100%;
	margin:0;
	display: flex;
	flex-direction: column;
	
}
html{
	font-family:Arial, Helvetica, sans-serif;
}

div#contenedor {
	width: 100%;
	height:100%;
	margin: auto;
	background-color: #aaaaaa;
	
}
/*sidebar para panel de editor*/
.sidebar {
	padding: 10px;
	float: left;
	width: 10%;

	background-color: #badbe4;
	border: 2px solid black;
}

.editorPanel {
	padding: 10px;
	float: left;
	width: 90%;
	
}
/* CSS HEADER*/
* {
	margin:0px;
	padding:0px;
}

header {
	margin:auto;
	width:100%;
	height: 100%;
	font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:20px 20px;
	display:block;
	width:100%;
	height: 100%;
}

.nav li a:hover {
	background-color:#ffffff;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	align-items: center;
	top:0px;
	width:100%;
	height: 100%;
}
div.saludo {
	width: 100%;
	text-align: right;
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:20px 60px;
	display:block;
	width:100%;
	height: 100%;
}
.saludo a{
	color:#fff;
}
/* FIN HEADER*/


/*CSS MAIN*/

main {
	padding-top: 30px;
	padding-left: 50px;
	float: left;
	width: 100%;
	min-height: 600px;
	background-color: white;
}



/*FIN CSS MAIN*/

/**CSS PIE*/
footer {
	clear: both;
	padding:20px 60px;
	background-color: #000000;
	color: white;
	text-align: center;
	width: 100%;
}

/* CSS FORMULARIO*/

fieldset {
	border: 2px solid black;
	padding: 10px 20px;
	margin-right: 600px;
	margin-top: 20px;
}

fieldset div {
	justify-content: center;
	margin: 5px auto;
	padding-bottom: 5px;
}

legend {
	color: #fff;
	background: #303030;
	border: 1px solid black;
	padding: 2px 6px;
} 

label {
	margin-right: 0.5em;
	display: block;
	padding: 5px;
}

input {
	display: block;
}

.form-field-error {
	display: block;
}
select.peli_titulo{
	text-rendering: auto;
}

.mensajes {
	position: fixed;
	width: 100%;
  }
  
.mensaje {
	border: 2px solid black;
	border-radius: 5px;
	width: 30%;
	margin: 0.2em auto;
	background-color: #b0f5f1;
}

.mensajes input {
	display: none;
}

.mensaje .cabecera {
	font-size: 2em;
	line-height: 0.7em;
	text-align: right;
	padding: 0 0.1em;
}

.mensaje .contenido {
	padding: 0.2em 1em;
	text-align: center;
}

.mensajes input:checked + .mensaje {
	display: none;
}

form.inline {
	display: inline;
}

form button.enlace, form button.enlace:visited {
	color: white;
	font-weight: bold;
	text-decoration: none;
	background-color: inherit;
	border: none;
}

form input.sinopsis{
	column-span: 100 ;
	row-gap: 8;
}
form button.enlace:hover {
	color: red;
	font-weight: bold;
	text-decoration: underline;

}
form button{
	background-color: white; 
	color: black; 
	border: 2px solid #4CAF50;
	padding: 9px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.4s;
}
form button:hover{
	background-color: #4CAF50;
  	color: white;
}
button, a.boton {
	border: 1px solid black;
	font-size: 1.1em;
	font-weight: 400;
	border-radius: 4px;
}

a.boton {
	color: inherit;
	text-decoration: none;
	background-color: rgb(239, 239, 239);
	padding: 3px 8px;
	margin: 1px 5px;
}

.inline {
	display: inline;
}

a.deshabilitado {
	color: rgba(16, 16, 16, 0.3);
}




/*PARA BLOG----------------------------------------*/

/* Header/Blog Title */
.header2 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(78, 113, 129);
  }
  
  /* izquieda */
  .columnaIzq {
    float: left;
    width: 70%;
	

  }
  .columna{
	background: rgb(207, 205, 233);
  }
  
  /* derecha*/
  .columnaDer {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* fotos */
  .img2 {
    background-color: #aaa;
    width: 90px;
    padding: 20px;
  }
  
  /* articulos como cartas */
  .card {
    background-color: rgb(242, 211, 250);
    padding: 20px;
    margin-top: 20px;
	
  }
  
  /* Clear floats after the columns */
  .columna:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .imagNoticias{
    height:250px;
	width: 250px;
  }
  .imagNoticias2{
    height:400px;
	width: 400px;
  }

  .imagAboutus{
    height:100px;
  }
  .footer2 {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Para cuando se reduzca el tamaño de la ventana */
  @media screen and (max-width: 800px) {
    .columnaIzq, .columnaDer {
      width: 100%;
      padding: 0;
    }
  }

/*------------------------------------------------------------*/

/* CSS PARA LA VISTA DE LAS PELÍCULAS INDEX*/

div#contenidoPelis.contenidoPelis{
	padding-top: 50px;
	padding-bottom: 200px;
}

div#tituloIndexPeliculas.tituloIndex h1{
	align-items: center;
	font-size: 40px;
	padding-bottom: 20px;
}
div#tituloIndexPeliculas.tituloIndex h2{
	align-items: center;
	font-size: 20px;
	padding-bottom: 20px;
}
div#tituloIndexPeliculas.tituloIndex span{
	color: #9f2863;     /*Te has vuelto a ir*/
}

div#pelis.peliLista a img {
    width: 230px;
	height: 300px;
	float: left;
}

div#pelisIndex {
	padding-top: 5px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: auto auto auto; /*cols*/
    grid-template-rows: auto auto; /*rows*/
    grid-template-areas: 
    ". titulo ."
    "peli peli peli "
    ;
    align-items : center;
}
div#pelis.peliLista{
	grid-area: peli;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto; /*rows*/
    grid-template-areas: " peli peli peli peli peli peli ";
    align-items : center;

}

div#lista-peli.tituloPeliIndex h3{
	grid-area: titulo;
    align-items: center;
	padding-top: 45px;
	padding-bottom: 15px;	
}

 /* FIN CSS PELICULAS*/

 /* CSS PARA LA VISTA 1PELÍCULA */
div#peli-card.peli-card{
	margin-top: 50px;
	margin-left: 50px;
	background-color: #d47ea9;
    grid-template-areas: "foto datos";
	height: 400px;
	grid-column-gap: 10px;

}
div#peli-foto-card.peli-foto-card {
	grid-area: foto;
}

div#peli-foto.peli-foto-card img {
	width: 230px;
	height: auto;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;	
}
div#peli-datos.peli-datos-card {
	grid-area: datos;
	padding-right: 20px;
	padding-left: 60px;
	padding-top: 60px;	
}
div.fila-dato{
	padding-bottom: 10px;
	margin-right: 120px;
}
div#peli-editar.peli-editar-card{
	display: block;
}
div.editar-buton{
	display: inline-block;
}

 /*FIN PARA LA VISTA DE 1 PELÍCULA*/